#firstImpression{
    background-color: #ECEEDF;
    
    position: absolute;
    top:12%;
    left: 0%;
    width: 100%;
    height: 88%;
}

.literalVideo{
    width: 100%;
}

.textOnVideo{
    position: absolute;
    top:150px;
    left:12%;
    font-size: 25px;
}
